@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

body{
  background-color: rgb(17, 16, 61);
  user-select: none;
  
}
select {
  background-color: rgb(17, 16, 61);
}
option{
  color: white;
  padding: 10px 5px;
}
